/*** sectioning elements ***/

body {
  background-color: #fff;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: ;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Copperplate Gothic Light", sans-serif;
}

header {

}

main {

}

footer {
 text-align: ;
}

nav {

}

section {

}

aside {

}

.dark {
  background-color: #990033;
  color: #fff;
  padding-left: ;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.light {
  background-color: #990033;
  color: #fff;
  padding-left: 15px;
  padding-top: 15px;
}

/**** content styles ***/

h1 {
  text-align: center;
  font-size: 50px;
  color: #000;
  font-family: "Copperplate Gothic Light", sans-serif;
}

h1.font {
  text-align: center;
  font-size: 30px;
  color: #000;
}

h2 {
  text-align: center;
  font-size: 50px;
  color: #000;
}

h3 {
  text-align: left;
  font-size: 30px;
}

h4 {
  text-align: right;
  font-size: 30px;
}

h5 {
  text-align: center;
  font-size: 20px;
}

h6 {
  text-align: center;
  color: #fff;
}

p {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: justify;
}

.para {
  font-size: 10px;
  text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
}

blockquote {

}

ol {

}

ul {
  list-style: none;
}

hr {
  width: 200px;
}

hr.line{
  width: 600px;
}

hr.line2 {
  width: 300px;
}

hr.line3 {
  width: 600px;
}

th {
    background-color: #990033;
    color: white;
    padding: 7px;
}

td {
  text-align: center;
  padding: 7px;
}

td.top {
    text-align: Left;
    vertical-align: top;
    padding: 7px;
}

table {
  border-collapse: collapse;
}

tr:nth-child(even) {background-color: #333}
tr:nth-child(odd) {background-color: #d9d9d9}
tr:nth-child(even) {color: #fff}
tr:nth-child(even).bc {background-color: #d9d9d9}
tr:nth-child(even).bc {color: #000}


@media (max-width: 600px) {
  table {
      width: 100%;
  }

  thead {
    display: none;
  }

  tr {
    border: 1px solid #AAAAAA;
    display: block;
    margin: 7px 0;
  }

  td {
    display: block;
    text-align: right;
  }

  td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
  }
}

iframe {
  height: 458px;
}


/*** image styles ***/
img {
  max-width: 100%;
}

img.center {
  display: block;
  margin: 0 auto;
}

img.left {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.right {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}
/*** link styles ***/

a:link, a:visited, a:hover, a:active{
  text-decoration: none;

}

a:link, a:visited {
  color: #000;
}

a.link:link, a.link:visited {
  color: #fff;
  text-align: center;
}

a:link {

}

a:visited {

}

a:hover {

}

a:active {

}

.button-primary {
  font-family: "Copperplate Gothic Light", sans-serif;
  color: #fff;
  border-radius: 35px;
  background-color: #666633;

}

.button-primary:hover {
 background-color: #fff;
 border: 2px solid #666633;
 color: #000;
}

.button-secondary:focus {
  box-shadow: 0 0 6px;
}

button.center {
  display: block;
  margin: 0 auto;
}

/*===========================================================
  Odin override
  ========================================================*/
.navbar a:link,
.navbar a:visited {
  text-decoration: none;
  color: #000;
}

.navbar a:hover,
.navbar a:active {
  text-decoration: none;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-menu {
  display: flex;
  position: relative;
  z-index: 998;
}

.navbar {
  background-color: #fff;
  height: auto;
}

.navbar li a {

}

.navbar li a:hover {
   color: #990033;
   font-size: ;
   font-weight: ;
}

.navbar-slideout .navbar-menu,
.navbar-slideout-xs .navbar-menu,
.navbar-slideout-sm .navbar-menu,
.navbar-slideout-md .navbar-menu,
.navbar-slideout-lg .navbar-menu,
.navbar-slideout-xl .navbar-menu {
  background-color: #ebd1d1;
}

.menu-toggle {
  font-size: 30px;
}
